 ##Data Management Notebook for Open Acess

###Importing libraries:

In [1]:
!pip install pandas
!pip install seaborn
!pip install matplotlib
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import numpy as np

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.5.3)

[notice] A new release of pip is available: 23.0 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: seaborn in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pandas>=0.25 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.6.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.0 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 23.0 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (3.6.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.19 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python311\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

The number of immigrants currently active and inactive

In [3]:
df_act = pd.read_csv("https://raw.githubusercontent.com/openaccesstoimmigrants/openaccesstoimmigrants/main/_datasets/ISTAT_Active_Foreigners%5B2018-2022%5D.csv", sep=",")

df2 = df_act[["Gender", "Age class", "Highest level of education attained", "TIME", "Value"]]

act_females = df2[df2["Gender"] == 'females']

act_females['TIME'] = act_females['TIME'].astype('str')
mask = (act_females['TIME'].str.len() == 4)
act_females = act_females.loc[mask]

act_females_final = act_females[act_females["Highest level of education attained"] != 'total']

act_females_final.rename(columns = {'Highest level of education attained':'Education'}, inplace = True)

act_females_final

C:\Users\User\AppData\Local\Temp\ipykernel_12196\4292465995.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  act_females['TIME'] = act_females['TIME'].astype('str')
C:\Users\User\AppData\Local\Temp\ipykernel_12196\4292465995.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  act_females_final.rename(columns = {'Highest level of education attained':'Education'}, inplace = True)

,Gender,Age class,Education,TIME,Value
75,females,15-64 years,upper and post secondary,2018,67.333505
80,females,15-64 years,upper and post secondary,2019,65.892842
85,females,15-64 years,upper and post secondary,2020,59.762553
90,females,15-64 years,upper and post secondary,2021,62.995636
91,females,15-64 years,upper and post secondary,2022,63.102924
100,females,15-64 years,"tertiary (university, doctoral and specializat...",2018,71.341341
105,females,15-64 years,"tertiary (university, doctoral and specializat...",2019,69.690972
110,females,15-64 years,"tertiary (university, doctoral and specializat...",2020,61.267579
115,females,15-64 years,"tertiary (university, doctoral and specializat...",2021,65.488050
116,females,15-64 years,"tertiary (university, doctoral and specializat...",2022,67.064311
225,females,15-64 years,"no educational degree, primary and lower secon...",2018,51.906909
230,females,15-64 years,"no educational degree, primary and lower secon...",2019,51.645182
235,females,15-64 years,"no educational degree, primary and lower secon...",2020,44.815162
240,females,15-64 years,"no educational degree, primary and lower secon...",2021,45.968750
241,females,15-64 years,"no educational degree, primary and lower secon...",2022,47.164028

In [20]:
act_females_18 = act_females_final[act_females_final["Year"]=='2018']

In [21]:
act_females_18

,Gender,Age class,Education,Year,Value
75,females,15-64 years,upper and post secondary,2018,67.333505
100,females,15-64 years,"tertiary (university, doctoral and specializat...",2018,71.341341
225,females,15-64 years,"no educational degree, primary and lower secon...",2018,51.906909

In [24]:
act_males = df2[df2["Gender"]=='males']

act_males['TIME'] = act_males['TIME'].astype('str')
mask = (act_males['TIME'].str.len() == 4)
act_males = act_males.loc[mask]

act_males_final = act_males[act_males["Highest level of education attained"] != 'total']

act_males_final.rename(columns = {'Highest level of education attained':'Education', 'TIME':'Year'}, inplace = True)

act_males_18 = act_males_final[act_males_final["Year"]=='2018']

act_males_18

C:\Users\User\AppData\Local\Temp\ipykernel_12196\553527974.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  act_males['TIME'] = act_males['TIME'].astype('str')
C:\Users\User\AppData\Local\Temp\ipykernel_12196\553527974.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  act_males_final.rename(columns = {'Highest level of education attained':'Education', 'TIME':'Year'}, inplace = True)

,Gender,Age class,Education,Year,Value
0,males,15-64 years,upper and post secondary,2018,88.153575
25,males,15-64 years,"tertiary (university, doctoral and specializat...",2018,88.981594
250,males,15-64 years,"no educational degree, primary and lower secon...",2018,80.831575

In [27]:
merged = pd.concat([act_females_18, act_males_18])

merged.replace("    ","")

,Gender,Age class,Education,Year,Value
75,females,15-64 years,upper and post secondary,2018,67.333505
100,females,15-64 years,"tertiary (university, doctoral and specializat...",2018,71.341341
225,females,15-64 years,"no educational degree, primary and lower secon...",2018,51.906909
0,males,15-64 years,upper and post secondary,2018,88.153575
25,males,15-64 years,"tertiary (university, doctoral and specializat...",2018,88.981594
250,males,15-64 years,"no educational degree, primary and lower secon...",2018,80.831575

In [28]:
ed = merged[merged['Education']]
females = act_females_18[act_females_18['Value']]
males = act_males_18[act_males_18['Value']]
 
# plot bars in stack manner
plt.bar(ed, females, color='r')
plt.bar(ed, males, bottom=females, color='b')
plt.show()

KeyError: "None of [Index(['upper and post secondary',\n       'tertiary (university, doctoral and specialization courses)',\n       'no educational degree, primary and lower secondary school certificate',\n       'upper and post secondary',\n       'tertiary (university, doctoral and specialization courses)',\n       'no educational degree, primary and lower secondary school certificate'],\n      dtype='object')] are in the [columns]"