# D8
## Net income
### [See on IstatData](https://esploradati.istat.it/databrowser/#/en/dw/categories/IT1,HOU,1.0/HOU_INCOME/DCCV_REDNETFAMFONTERED/IT1,32_292_DF_DCCV_REDNETFAMFONTERED_9,1.0)

In [1]:
#!pip install pandas requests requests_cache xmltodict

In [2]:
import pandas as pd
import json
import requests
import xmltodict
from datetime import datetime
import os

In [25]:
# 1 - Explore Data Structure

response = requests.get('https://esploradati.istat.it/SDMXWS/rest/datastructure/IT1/DCCV_REDNETFAMFONTERED/')
print(response.status_code)

if response.status_code == 200:
    content = response.content
    
    if len(content) > 0:
        try:
            xml_data = xmltodict.parse(content)
            json_string_data = json.dumps(xml_data,
                                    allow_nan = True, # If we hadn't set allow_nan to
                                                      # true we would have got
                                                      # ValueError: Out of range float
                                                      # values are not JSON compliant
                                    indent = 6) # Indentation can be used for pretty-printing
            # Now you can work with the parsed JSON data
        except json.JSONDecodeError as e:
            print("Error decoding JSON:", e)
    else:
        print("Empty content received.")
else:
    print("Request failed with status code:", response.status_code)

# Uncomment the following line to see the resulting JSON string
# print(json_string_data)
type(json_string_data)

200

str

"FREQ" value="A"
"REF_AREA" value="IT"
"DATA_TYPE" value="REDD_MEDIO_FAM"
"MEASURE" value="9"
"IMPUTED_RENTS" value="1" AKA CL_PRESAFFITTI
"FAM_MAIN_INCOME_SOURCE" value="9"
"NUMBER_HOUSEHOLD_COMP" value="2"
"HOUSEHOLD_TYPOLOGY" value="99"
"NUMB_OF_CHILDREN" value="9"
"NUMB_OF_ELDERLY" value="9"
"SEX_MAIN_PERCEPTOR" value="9"
"AGE_MAIN_EARNIER" value="TOTAL"
"EDU_LEV_MAIN_EARN" value="99"
"LABPROF_STATUS_C_MAIN_EARNER" value="99"

In [26]:
# 2 - Explore the meaning of the dimensions of the dataset

response = requests.get('https://esploradati.istat.it/SDMXWS/rest/codelist/IT1/CL_PRESAFFITTI')
print(response.status_code)

if response.status_code == 200:
    content = response.content
    
    if len(content) > 0:
        try:
            xml_data = xmltodict.parse(content)
            json_string_data = json.dumps(xml_data,
                                    allow_nan = True, # If we hadn't set allow_nan to
                                                      # true we would have got
                                                      # ValueError: Out of range float
                                                      # values are not JSON compliant
                                    indent = 6) # Indentation can be used for pretty-printing
            # Now you can work with the parsed JSON data
        except json.JSONDecodeError as e:
            print("Error decoding JSON:", e)
    else:
        print("Empty content received.")
else:
    print("Request failed with status code:", response.status_code)

# Uncomment the following line to see the resulting JSON string
# print(json_string_data)

200

In [7]:
# 3 -  Explore values in Dimensions

response = requests.get('https://esploradati.istat.it/SDMXWS/rest/availableconstraint/32_292_DF_DCCV_REDNETFAMFONTERED_9')
print(response.status_code)

if response.status_code == 200:
    content = response.content
    
    if len(content) > 0:
        try:
            xml_data = xmltodict.parse(content)
            json_string_data = json.dumps(xml_data,
                                    allow_nan = True, # If we hadn't set allow_nan to
                                                      # true we would have got
                                                      # ValueError: Out of range float
                                                      # values are not JSON compliant
                                    indent = 6) # Indentation can be used for pretty-printing
            # Now you can work with the parsed JSON data
        except json.JSONDecodeError as e:
            print("Error decoding JSON:", e)
    else:
        print("Empty content received.")
else:
    print("Request failed with status code:", response.status_code)

# Uncomment the following line to see the resulting JSON string
# print(json_string_data)

200

Reddito Medio ("DATA_TYPE" value="REDD_MEDIO_FAM") esclusi fitti imputati ("IMPUTED_RENTS" value="2")

In [33]:
# 4 -  Final query with filters

response = requests.get('https://esploradati.istat.it/SDMXWS/rest/data/32_292_DF_DCCV_REDNETFAMFONTERED_9/A.IT+ITC+ITD+ITE+ITF+ITG.REDD_MEDIO_FAM.9.2.9........')
print(response.status_code)

if response.status_code == 200:
    content = response.content
    
    if len(content) > 0:
        try:
            xml_data = xmltodict.parse(content)
            json_string_data = json.dumps(xml_data,
                                    allow_nan = True, # If we hadn't set allow_nan to
                                                      # true we would have got
                                                      # ValueError: Out of range float
                                                      # values are not JSON compliant
                                    indent = 6) # Indentation can be used for pretty-printing
            # Now you can work with the parsed JSON data
        except json.JSONDecodeError as e:
            print("Error decoding JSON:", e)
    else:
        print("Empty content received.")
else:
    print("Request failed with status code:", response.status_code)

# Uncomment the following line to see the resulting JSON string
# print(json_string_data)

200

In [47]:
# Convert the JSON string to a Python dictionary

nested_dict = json.loads(json_string_data)

# Accessing values in the nested dictionary
header_id = nested_dict['message:GenericData']['message:Header']['message:ID']
dataset_action = nested_dict['message:GenericData']['message:DataSet']['@action']

# Extract observation values for different regions
regions_income_data = {}
for series in nested_dict['message:GenericData']['message:DataSet']['generic:Series']:
    region_id = None
    obs_values = []
    for item in series['generic:SeriesKey']['generic:Value']:
        if item['@id'] == 'REF_AREA':
            region_id = item['@value']
    for obs in series['generic:Obs']:
        obs_values.append({
            'YEAR': obs['generic:ObsDimension']['@value'],
            'NET-INCOME': obs['generic:ObsValue']['@value']
        })
    regions_income_data[region_id] = obs_values


# Convert the income data to JSON
regions_income_data_json = json.dumps(regions_income_data, indent=4)

print(regions_income_data_json)

{
    "IT": [
        {
            "YEAR": "2003",
            "NET-INCOME": "26919"
        },
        {
            "YEAR": "2004",
            "NET-INCOME": "27857"
        },
        {
            "YEAR": "2005",
            "NET-INCOME": "28020"
        },
        {
            "YEAR": "2006",
            "NET-INCOME": "29144"
        },
        {
            "YEAR": "2007",
            "NET-INCOME": "29663"
        },
        {
            "YEAR": "2008",
            "NET-INCOME": "30090"
        },
        {
            "YEAR": "2009",
            "NET-INCOME": "30502"
        },
        {
            "YEAR": "2010",
            "NET-INCOME": "30220"
        },
        {
            "YEAR": "2011",
            "NET-INCOME": "30236"
        },
        {
            "YEAR": "2012",
            "NET-INCOME": "29579"
        },
        {
            "YEAR": "2013",
            "NET-INCOME": "29473"
        },
        {
            "YEAR": "2014",
            "NET-INCOME": "29472"
        },
        {
            "YEAR": "2015",
            "NET-INCOME": "29988"
        },
        {
            "YEAR": "2016",
            "NET-INCOME": "30595"
        },
        {
            "YEAR": "2017",
            "NET-INCOME": "31393"
        },
        {
            "YEAR": "2018",
            "NET-INCOME": "31641"
        },
        {
            "YEAR": "2019",
            "NET-INCOME": "33106"
        },
        {
            "YEAR": "2020",
            "NET-INCOME": "32812"
        },
        {
            "YEAR": "2021",
            "NET-INCOME": "33798"
        }
    ],
    "ITC": [
        {
            "YEAR": "2003",
            "NET-INCOME": "28952"
        },
        {
            "YEAR": "2004",
            "NET-INCOME": "30416"
        },
        {
            "YEAR": "2005",
            "NET-INCOME": "30147"
        },
        {
            "YEAR": "2006",
            "NET-INCOME": "31171"
        },
        {
            "YEAR": "2007",
            "NET-INCOME": "31594"
        },
        {
            "YEAR": "2008",
            "NET-INCOME": "32337"
        },
        {
            "YEAR": "2009",
            "NET-INCOME": "33135"
        },
        {
            "YEAR": "2010",
            "NET-INCOME": "33392"
        },
        {
            "YEAR": "2011",
            "NET-INCOME": "33317"
        },
        {
            "YEAR": "2012",
            "NET-INCOME": "32901"
        },
        {
            "YEAR": "2013",
            "NET-INCOME": "32390"
        },
        {
            "YEAR": "2014",
            "NET-INCOME": "32888"
        },
        {
            "YEAR": "2015",
            "NET-INCOME": "32680"
        },
        {
            "YEAR": "2016",
            "NET-INCOME": "33268"
        },
        {
            "YEAR": "2017",
            "NET-INCOME": "34211"
        },
        {
            "YEAR": "2018",
            "NET-INCOME": "34642"
        },
        {
            "YEAR": "2019",
            "NET-INCOME": "36224"
        },
        {
            "YEAR": "2020",
            "NET-INCOME": "36018"
        },
        {
            "YEAR": "2021",
            "NET-INCOME": "37647"
        }
    ],
    "ITD": [
        {
            "YEAR": "2003",
            "NET-INCOME": "29386"
        },
        {
            "YEAR": "2004",
            "NET-INCOME": "30132"
        },
        {
            "YEAR": "2005",
            "NET-INCOME": "30529"
        },
        {
            "YEAR": "2006",
            "NET-INCOME": "31942"
        },
        {
            "YEAR": "2007",
            "NET-INCOME": "32427"
        },
        {
            "YEAR": "2008",
            "NET-INCOME": "33111"
        },
        {
            "YEAR": "2009",
            "NET-INCOME": "33007"
        },
        {
            "YEAR": "2010",
            "NET-INCOME": "33548"
        },
        {
            "YEAR": "2011",
            "NET-INCOME": "33120"
        },
        {
            "YEAR": "2012",
            "NET-INCOME": "32547"
        },
        {
            "YEAR": "2013",
            "NET-INCOME": "32746"
        },
        {
            "YEAR": "2014",
            "NET-INCOME": "32783"
        },
        {
            "YEAR": "2015",
            "NET-INCOME": "33852"
        },
        {
            "YEAR": "2016",
            "NET-INCOME": "34678"
        },
        {
            "YEAR": "2017",
            "NET-INCOME": "35386"
        },
        {
            "YEAR": "2018",
            "NET-INCOME": "35165"
        },
        {
            "YEAR": "2019",
            "NET-INCOME": "37046"
        },
        {
            "YEAR": "2020",
            "NET-INCOME": "36418"
        },
        {
            "YEAR": "2021",
            "NET-INCOME": "38340"
        }
    ],
    "ITE": [
        {
            "YEAR": "2003",
            "NET-INCOME": "28840"
        },
        {
            "YEAR": "2004",
            "NET-INCOME": "29729"
        },
        {
            "YEAR": "2005",
            "NET-INCOME": "30003"
        },
        {
            "YEAR": "2006",
            "NET-INCOME": "31509"
        },
        {
            "YEAR": "2007",
            "NET-INCOME": "31936"
        },
        {
            "YEAR": "2008",
            "NET-INCOME": "32132"
        },
        {
            "YEAR": "2009",
            "NET-INCOME": "32543"
        },
        {
            "YEAR": "2010",
            "NET-INCOME": "31950"
        },
        {
            "YEAR": "2011",
            "NET-INCOME": "31910"
        },
        {
            "YEAR": "2012",
            "NET-INCOME": "30818"
        },
        {
            "YEAR": "2013",
            "NET-INCOME": "30750"
        },
        {
            "YEAR": "2014",
            "NET-INCOME": "30376"
        },
        {
            "YEAR": "2015",
            "NET-INCOME": "31147"
        },
        {
            "YEAR": "2016",
            "NET-INCOME": "32006"
        },
        {
            "YEAR": "2017",
            "NET-INCOME": "32945"
        },
        {
            "YEAR": "2018",
            "NET-INCOME": "32988"
        },
        {
            "YEAR": "2019",
            "NET-INCOME": "34588"
        },
        {
            "YEAR": "2020",
            "NET-INCOME": "33837"
        },
        {
            "YEAR": "2021",
            "NET-INCOME": "34555"
        }
    ],
    "ITF": [
        {
            "YEAR": "2003",
            "NET-INCOME": "22834"
        },
        {
            "YEAR": "2004",
            "NET-INCOME": "23308"
        },
        {
            "YEAR": "2005",
            "NET-INCOME": "23703"
        },
        {
            "YEAR": "2006",
            "NET-INCOME": "24683"
        },
        {
            "YEAR": "2007",
            "NET-INCOME": "25281"
        },
        {
            "YEAR": "2008",
            "NET-INCOME": "25508"
        },
        {
            "YEAR": "2009",
            "NET-INCOME": "25862"
        },
        {
            "YEAR": "2010",
            "NET-INCOME": "25123"
        },
        {
            "YEAR": "2011",
            "NET-INCOME": "25451"
        },
        {
            "YEAR": "2012",
            "NET-INCOME": "24639"
        },
        {
            "YEAR": "2013",
            "NET-INCOME": "24632"
        },
        {
            "YEAR": "2014",
            "NET-INCOME": "24450"
        },
        {
            "YEAR": "2015",
            "NET-INCOME": "25206"
        },
        {
            "YEAR": "2016",
            "NET-INCOME": "25615"
        },
        {
            "YEAR": "2017",
            "NET-INCOME": "26089"
        },
        {
            "YEAR": "2018",
            "NET-INCOME": "26393"
        },
        {
            "YEAR": "2019",
            "NET-INCOME": "27470"
        },
        {
            "YEAR": "2020",
            "NET-INCOME": "27189"
        },
        {
            "YEAR": "2021",
            "NET-INCOME": "27467"
        }
    ],
    "ITG": [
        {
            "YEAR": "2003",
            "NET-INCOME": "21742"
        },
        {
            "YEAR": "2004",
            "NET-INCOME": "22657"
        },
        {
            "YEAR": "2005",
            "NET-INCOME": "22854"
        },
        {
            "YEAR": "2006",
            "NET-INCOME": "23295"
        },
        {
            "YEAR": "2007",
            "NET-INCOME": "24065"
        },
        {
            "YEAR": "2008",
            "NET-INCOME": "23981"
        },
        {
            "YEAR": "2009",
            "NET-INCOME": "24447"
        },
        {
            "YEAR": "2010",
            "NET-INCOME": "22693"
        },
        {
            "YEAR": "2011",
            "NET-INCOME": "23167"
        },
        {
            "YEAR": "2012",
            "NET-INCOME": "22787"
        },
        {
            "YEAR": "2013",
            "NET-INCOME": "22893"
        },
        {
            "YEAR": "2014",
            "NET-INCOME": "22564"
        },
        {
            "YEAR": "2015",
            "NET-INCOME": "23014"
        },
        {
            "YEAR": "2016",
            "NET-INCOME": "23153"
        },
        {
            "YEAR": "2017",
            "NET-INCOME": "24065"
        },
        {
            "YEAR": "2018",
            "NET-INCOME": "24934"
        },
        {
            "YEAR": "2019",
            "NET-INCOME": "25851"
        },
        {
            "YEAR": "2020",
            "NET-INCOME": "26780"
        },
        {
            "YEAR": "2021",
            "NET-INCOME": "26409"
        }
    ]
}

In [48]:
# Save the new file

# Specify the folder path to save the JSON file
folder_path = "../_datasets/Clean/D8/"

# Create the folder if it doesn't exist
os.makedirs(folder_path, exist_ok=True)

# Define the filename for the JSON file
filename = "net_income_by_regions_data.json"

# Generate the file path
file_path = os.path.join(folder_path, filename)

# Save the regions_data dictionary to a JSON file
with open(file_path, "w") as file:
    json.dump(regions_income_data_json, file, indent=4)

print(f"JSON data saved to: {file_path}")

JSON data saved to: ../_datasets/Clean/D8/net_income_by_regions_data.json